{% load widget_tweaks %}

{% block content %}
<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    body {
        background: linear-gradient(135deg, #1481af 0%, #fbfbfb 100%);
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .form-container {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 20px;
        width: 300px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-title {
        font-size: 20px;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    .login__field {
        margin-bottom: 15px;
    }

    .login__input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .form-button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .form-button:hover {
        background-color: #0056b3;
    }

    .footer-link {
        display: block;
        text-align: center;
        margin-top: 15px;
        color: #007bff;
        text-decoration: none;
    }

    .footer-link:hover {
        text-decoration: underline;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
    }
</style>

<div class="container">
    <div class="form-container">
        <h2 class="form-title">Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            
            <button type="submit" class="form-button">Sign Up</button>
        </form>
        <a class="footer-link" href="{% url 'login' %}">Already have an account?</a>
    </div>
</div>
{% endblock content %}
