{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<style>
    .sale {
        margin-top: 10px;
    }
    /* Button Styles */
    .btn-primary {
        background-color: #241d9d; /* Indigo color */
        border-radius: 0.5rem; /* Rounded corners */
        transition: background-color 0.3s ease, transform 0.3s ease;
        padding: 12px 20px; /* Consistent padding */
        font-weight: 600; /* Bolder text */
        text-transform: uppercase; /* Uppercase text */
        letter-spacing: 0.05em; /* Spacing between letters */
        text-align: center;
    }

    .btn-primary:hover {
        background-color: #4338ca; /* Darker shade on hover */
        transform: scale(1.05); /* Slight scale on hover */
    }
</style>
<div class="sale max-w-lg mx-auto">
    <a class="btn btn-primary hover:text-blue-500" href="{% url 'leads:sale_list' %}">Go back to Sales Data</a>
    <div class="py-5 border-t border-gray-200">
        <h1 class="text-4xl text-gray-800">Add Sales Data</h1>

        <form method="post" class="mt-5">
            {% csrf_token %}
            {{ form|crispy }}
            <button type='submit' class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">
                Add Sales
            </button>
        </form>
    </div>
</div>

{% endblock content %}