{% extends "base.html" %}

{% block content %}
<style>
    th{
        background-color:#100976;
    }
</style>
<section class="text-black body-font">
    <div class="container px-5 py-2 mx-auto flex flex-wrap">
        <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
            <div>
                <h1 class="text-4xl text-gray-800 font-bold">Agents</h1>
            </div>
            <div>
                <a class="btn btn-primary mr-5" href="{% url 'agents:agent-create' %}">Create a new agent</a>
                <a href="{% url 'agents:agent-tree' %}" class="btn btn-primary mr-5">View Agent Tree</a>

            </div>
        </div>

        <div class="flex flex-col w-full">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead style="background-color: #fff;" >
                                <tr>
                                    <th scope="col" 
                                        class="px-6 py-3 text-left text-xm font-medium text-white uppercase tracking-wider">
                                        Full Name
                                    </th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xm font-medium text-white uppercase tracking-wider">
                                        Email
                                    </th>
                                    {% comment %} <th scope="col"
                                        class="px-6 py-3 text-left text-xm font-medium text-white uppercase tracking-wider">
                                        Commission %
                                    </th> {% endcomment %}
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xm font-medium text-white uppercase tracking-wider">
                                        Agent Level
                                    </th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xm font-medium text-white uppercase tracking-wider">
                                        Parent Agent
                                    </th>
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for agent in object_list %}
                                <tr class="bg-white">
                                    <td class="px-6 py-4  text-align-center whitespace-nowrap text-sl font-medium text-black-900">
                                        <a  >{{ agent.user.first_name }} {{ agent.user.last_name }}</a>
                                    </td>
                                    <td class="px-6 py-4  text-align-center whitespace-nowrap text-sl text-black-900">
                                        {{ agent.user.email }}
                                    </td>
                                    {% comment %} <td class="px-6 py-4 text-align-center  whitespace-nowrap text-sl text-black-900">
                                        {{ agent.commission_percentage }}
                                    </td> {% endcomment %}
                                    <td class="px-6 py-4  text-align-center whitespace-nowrap text-sl text-black-900">
                                        {{ agent.level }}
                                    </td>
                                    <td class="px-6 py-4  text-align-center whitespace-nowrap text-sl text-black-900">
                                        {{ agent.parent_agent.user }}
                                    </td>
                                    
                                </tr>
                                {% empty %}

                                <p>There are currently no agents</p>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock content %}