<!-- buyers_list.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-8">
    <h1 class="text-2xl font-bold mb-4">Buyers List</h1>

    <table class="min-w-full bg-white border border-gray-200">
        <thead>
            <tr class="bg-gray-200">
                <th class="py-2 px-4 border-b border-gray-200 text-left text-sm font-semibold text-gray-700">Name</th>               
                <th class="py-2 px-4 border-b border-gray-200 text-left text-sm font-semibold text-gray-700">Gender</th>               
                <th class="py-2 px-4 border-b border-gray-200 text-left text-sm font-semibold text-gray-700">Mobile No.</th>
                <th class="py-2 px-4 border-b border-gray-200 text-left text-sm font-semibold text-gray-700">Address</th>                
                <th class="py-2 px-4 border-b border-gray-200 text-left text-sm font-semibold text-gray-700">Email</th>
                <th class="py-2 px-4 border-b border-gray-200 text-left text-sm font-semibold text-gray-700">Property ID</th>
                <th class="py-2 px-4 border-b border-gray-200 text-left text-sm font-semibold text-gray-700">Associate Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for buyer in buyers %}
            <tr class="hover:bg-gray-100">
                <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">
                    <a href="{% url 'leads:update_delete_buyer' buyer.id %}" class="text-blue-500 hover:underline">
                         {{ buyer.name }}
                    </a>
                </td>
                
                <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">{{ buyer.gender }}</td>
                
                <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">{{ buyer.mobile_no }}</td>
                <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">{{ buyer.address }}</td>
                
                <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">{{ buyer.email }}</td>
                
                <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">{{ buyer.project.title }}</td>
                <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">{{ buyer.promoter.name }}</td>
                <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">
                    <a href="{% url 'leads:buyer_print' buyer.id %}" class=" hover:bg-Blue text-lightblue font-bold py-0 px-1">
                        View Details
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="18" class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700 text-center">No buyers found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mt-4">
        <a href="{% url 'leads:plot_registration' %}"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Register New Plot
        </a>
    </div>
</div>
{% endblock %}
